<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.gov.bjys.onlinetrain">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MainActivityStyle">
        <activity android:name=".act.LogoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".act.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />

        <activity
            android:name=".act.LifeHelpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />

        <activity
            android:name=".act.ExaminationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/FragmentStatusBarStyle" />
        <activity
            android:name=".act.PracticeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/FragmentStatusBarStyle" />

        <activity
            android:name=".act.PracticePrepareActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />

        <activity
            android:name=".act.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FragmentStatusBarStyle" />


        <activity
            android:name=".act.ClassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />
        <activity
            android:name=".act.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />
        <activity
            android:name=".act.LawsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />
        <activity
            android:name=".act.LawsSecondActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />
        <activity
            android:name=".act.HomeClassStudyOneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />
        <activity
            android:name=".act.HomeClassStudySecondActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />
        <activity
            android:name=".act.HomeExamSecondActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />
        <activity
            android:name=".act.HomeClassStudyThirdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />
        <activity
            android:name=".act.SimulatedExamConfirmActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />

        <activity
            android:name=".act.SimulatedExamEndActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />

        <activity
            android:name=".act.ExamAnalysisActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />
        <activity
            android:name=".act.ExamAnalysisActivity2"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />
        <activity
            android:name=".act.ExamAnalysisActivity3"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />

        <activity
            android:name=".act.ExamEndActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />

        <activity
            android:name=".act.ExamHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />
        <activity
            android:name=".act.KeChengActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />

        <activity
            android:name=".act.MorePracticeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />

        <activity
            android:name=".act.UserMoreErrorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />


        <activity
            android:name=".act.UserAvatarChooseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/half_ActivityStyle" />

        <activity
            android:name=".act.UserSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />

        <activity
            android:name=".act.CommonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />
        <activity
            android:name=".act.YSWebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />
        <activity
            android:name=".act.PDFWebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />

        <activity
            android:name=".act.UserMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />

        <activity
            android:name=".act.UserMessageDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />

        <activity
            android:name=".act.AnJianDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />

        <activity
            android:name=".act.ExamPrepareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle" />

        <activity
            android:name=".act.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="sensor"
            android:theme="@style/FragmentStatusBarStyle" />
        <!--U盟多渠道-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5959a1c204e2053cda000474" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
    </application>

</manifest>